{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1>{{ object|yesno:"Update,Create" }} tag</h1>
        <form action="" method="POST">
          {% csrf_token %}
          <div class="form-group">
             {{ form|crispy }}
          </div>
          <button type="submit" class="btn btn-gradient-primary">{{ object|yesno:"Update,Create" }}</button>
          <a class="btn bg-gradient-success mx-4" href="{% url 'task:tag-list' %}">Back</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
