{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 mt-5">
        <h1>{{ object|yesno:"Update,Create" }} tag</h1>
        <form action="" method="POST">
          {% csrf_token %}
          <div class="form-group">
             {{ form|crispy }}
          </div>
          <input type="submit" value="Submit" class="btn btn-success">
          <a href="{% url 'task:tag-list' %}" class="btn btn-danger" role="button">Cancel</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
