{% extends 'base.html' %}

{% block content %}
  <a href="{% url 'todolist:create-task' %}">Create task</a>
  {% if task_list %}
    {% for task in task_list %}
      <ul>
        <li>
          {{ task.content }}
          {% if task.completed == True %}
            Completed
          {% else %}
            Underway
          {% endif %}
        </li>
        <li>Created: {{ task.datetime }}</li>
        <li>
          {% if task.deadline %}
            Complete by: {{ task.deadline }}
          {% endif %}
        </li>
        <li>Tags: {% for tag in task.tags.all %}
          {{ tag.name }}
          {% endfor %}
        </li>
        <a href="{% url 'todolist:update-task' task.id %}">Update</a>
      </ul>
    {% endfor %}
  {% endif %}
{% endblock %}
